<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testfirebase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TimeLineAddActivity"></activity>
        <activity android:name=".UserMyProfileActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".UserProfileEditActivity" />
        <activity android:name=".UserProfileEditPlainTextActivity" />
        <activity android:name=".UserProfileEditRadioButtonActivity" />
        <activity android:name=".UserProfileEditSpinnerActivity" />
        <activity android:name=".TitleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendAddActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".UserRegistarActivity" />
        <activity android:name=".UserLoginActivity" />
        <activity android:name=".ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>