<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testfirebase">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingGroupActivity" />
        <activity android:name=".GroupChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".PasswordForgetActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserLoginActivity" />
        </activity>
        <activity android:name=".TimeLineEditActivity" />
        <activity android:name=".TimeLineCommentActivity" />
        <activity android:name=".TitleActivity" />
        <activity android:name=".UserRegistarActivity" />
        <activity android:name=".UserLoginActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateGroupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FriendAddActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".UserMyProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".UserProfileEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserMyProfileActivity" />
        </activity>
        <activity android:name=".UserProfileEditPlainTextActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfileEditActivity" />
        </activity>
        <activity android:name=".UserProfileEditRadioButtonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfileEditActivity" />
        </activity>
        <activity android:name=".UserProfileEditSpinnerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfileEditActivity" />
        </activity>
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".TimeLineAddActivity" />
    </application>

</manifest>